@import "tailwindcss";

@theme {
  --color-tempe-dark: #0f172a;
  --color-tempe-primary: #f97316;
  --color-tempe-accent: #b45309;
  --color-tempe-light: #f1f5f9;
}

:root {
  background-color: var(--color-tempe-dark);
  color: var(--color-tempe-light);
}
